<div class="font-mono bg-purple-950 bg-blend-lighten mt-8 pb-12">
    <p class="text-center text-gray-300 text-sm py-4">
        &copy; Mirjam Kay Mashkour 2026
        <br>
        <br>
        Kontakt: mirjam.kay[at]pm.me
    </p>

    <button (click)="openModal()"
        class="text-gray-300 text-sm hover:text-white hover:cursor-pointer text-center block mx-auto">Impressum &
        Datenschutz</button>

    <!-- BIG Modal-->
    <!-- Todo see if there's some way I can lazy load this because most people won't read it-->
    @if(isModalOpen()) {
    <div class="fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50" 
        (click)="closeModal()">
        <div class="bg-white rounded-lg p-6 w-11/12 md:w-2/3 lg:w-1/2" (click)="$event.stopPropagation()">
            <h2 class="text-xl font-bold mb-4">Impressum & Datenschutz</h2>
            <p class="text-gray-700 text-sm mb-4 text-wrap overflow-y-auto max-h-96">
                Mirjam Kay Mashkour
                <br>
                ​mk-mashkour.com

                ig: @mkay.writer

                ​<br><br>

                ​

                PRIVACY POLICY

                ​<br><br>

                I only collect and retain the data I need to be able to run this website.

                ​<br><br>

                What is personal data?

                ​<br><br>

                When I refer to personal data in this policy, I mean information that can or has the potential to
                identify you as an individual. Accordingly, I may hold and use personal data about you as audience,
                contract party or customer, for example when you complete a form, write a comment, or contact me.

                ​<br><br>

                Purposes and legal basis of processing personal data

                ​​<br><br>

                The legal basis for processing personal data collected through this website is the General Data
                Protection Regulation (GDPR), especially

                ​​<br><br>

                Art. 6 §1(a) GDPR and Art. 9 §2(a) GDPR, explicit consent: the user of the website has explicitly agreed
                to share their personal data, for example when you subscribe to an e-mail newsletter.

                Art. 6 §1(f) GDPR, legitimate interest: when processing is necessary for the purpose of legitimate
                interests pursued by me (aka. doing my job) or by a third party (e.g. my publisher), except when such
                interests are overridden by your fundamental rights and freedoms which require the protection of
                personal data.

                Art. 6 §1(e) GDPR, public interest: when processing is necessary to perform a task in the public
                interest.

                Art. 9 §2(e) GDPR: when processing relates to personal data which are manifestly made public by you and
                therefore not a secret

                Art. 9 §2(f) GDPR: establishing, exercising or defending legal claims.

                Art. 9 §2(j) GDPR: processing for archiving purposes such as statistical purposes, scientific or
                historical research, public interest.

                ​​<br><br>

                Your Rights under Data Protection Laws

                ​​<br><br>

                If I collected any of your personal data (e.g. IP address), you have the right to see the data I may
                have collected;

                The Right of Erasure (‚Right to be Forgotten‘) – the right to have your personal information erased
                where I have no reason to continue processing;

                Data Portability – the right to move, copy or transfer the personal information you have provided;

                Right to Rectification – You have the right to have the personal data I hold about you corrected if it
                is factually inaccurate. It is important to understand that this right does not extend to matters of
                opinion.

                ​​<br><br>

                ​​<br><br>

                Urheberrecht

                ​​<br><br>

                Soweit nicht anders angegeben, liegen die Rechte an Texten, Fotos und anderen Inhalten dieser Webseite
                bei der Autorin Mirjam Kay Mashkour (= MK oder MKAY). Inhalte und Werke auf diesen Seiten unterliegen
                dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung
                außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors
                bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen
                Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die
                Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten
                Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, wird um einen entsprechenden Hinweis
                gebeten. Bei Bekanntwerden von Rechtsverletzungen werden derartige Inhalte umgehend entfernt.

                ​​<br><br>

                Haftung für Inhalte

                ​​<br><br>

                Die Diensteanbieterin ist gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
                Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG ist die Diensteanbieterin jedoch nicht verpflichtet,
                übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die
                auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
                Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist
                jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden
                von entsprechenden Rechtsverletzungen werden diese Inhalte umgehend entfernt.

                ​​<br><br>

                Haftung für Links

                ​​<br><br>

                Das Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte die Betreiberin von
                mk-mashkour.com keinen Einfluss hat. Deshalb kann für diese fremden Inhalte auch keine Gewähr übernommen
                werden. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
                verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße
                überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
                inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
                Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden derartige Links
                umgehend entfernt.

                ​​<br><br>

                Plug-Ins und soziale Medien

                ​​<br><br>

                Diese Seite wird mit Wix.com betrieben, außerdem sind Inhalte von Youtube, Instagram etc. eingebunden.
                Solche Konzerne interessieren sich für personenbezogene Daten, weil sie damit ihr Geld verdienen. Ich
                empfehle deshalb, ein VPN (Virtuelles Privates Netzwerk) zu verwenden oder wenigstens Add-ons, die
                Werbung blockieren, in Kombination mit einer Suchmaschine, die keine personenbezogenen Daten sammelt.
            </p>
            <button (click)="closeModal()"
                class="text-gray-700 text-sm hover:text-purple-700 hover:cursor-pointer mt-4">Schließen</button>
        </div>
    </div>
    }
</div>