<!-- Screw it no floating for now.-->
<div class="shadow-md m-2 p-4">
    <!-- Image first so it's on the top/ left-->
    <img class="w-full h-full object-contain max-h-100 mx-auto" [src]="book().imageUrl" [alt]="book().title">
    <h1 class="text-2xl text-black mt-4">{{ book().title }}</h1>
    <p class="text-sm text-gray-600">{{ book().details }}</p>
    <p [class.line-clamp-2]="!isOpen()" class="text-gray-700 transition-all duration-300">
        {{ book().description }}
    </p>

    <!-- Description with toggle -->
    @if (book().description) {
    <button (click)="toggleDescription()" class="text-purple-600 hover:underline mt-2 text-sm font-medium">
        {{ isOpen() ? 'Weniger anzeigen' : 'Angaben zeigen...' }}
    </button>
    }

    <!-- Buttons for links -->
    @for (link of book().links | keyvalue; track link.key) {
    <a [href]="link.value" class="buy-button px-5" target="_blank" rel="noopener noreferrer">
        {{ link.key }}
    </a>
    }
</div>