<img src="/LogoAnarchien.avif" class="m-auto">
<h1 class="text-2xl font-extrabold mt-8 text-purple-800 py-2">Kommende Termine</h1>
@for (appointment of futureAppointments(); track appointment.id) {
<app-appointment-card [appointment]="appointment"></app-appointment-card>
}

<h1 class="text-2xl font-extrabold mt-8 text-purple-800 py-2">Vergangene Termine</h1>
@for (appointment of pastAppointments(); track appointment.id) {
<app-appointment-card [appointment]="appointment"></app-appointment-card>
}